body {
    font-family: Arial, sans-serif;
    background-color: #4203f0;
}

.container {
    width: 50%;
    margin: 50px auto;
    background-color: #f2f5f5;
    padding: 20px;
    border-radius: 5px;
}

h1 {
    text-align: center;
}

input[type="text"] {
    width: 70%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 5px;
    margin-bottom: 5px;
    background-color: #cac5c5;
    border-radius: 5px;
}


